*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.backimg{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../img/intro-bg_1.jpg")no-repeat center center;
    background-size: cover;
}

.banner-img{
    padding-top: 11%;
    padding-bottom: 11%;
    width: 80%;
    margin:auto;
}


.banner-content{
    position: relative;
    /* width: 80%; */
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%; 
}
.card{

    margin-top: 110px;
    margin-bottom: 30px;
    margin-left: 20%;
    width: 60%;
    
}

.signup-control{
    width: 60%;
    margin: 70px auto;
    
}

.content{
    margin-top: 15rem;
}

.jmbo{
    margin-top: 80px;
}
.pfooter{
    margin-top: 20px;
}

.tresponsive{

    
    margin-top: 15rem;
    margin-bottom: 10rem;
}
.setting{
    width: 60%;
    margin: 0 auto;
}

.success{
    width: 70%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    
}

.logout{
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: 40%;
    

}